/* --- HTML elements --- */
@font-face{
    font-family: butler;
    src: url(../fonts/Butler_Medium.otf);
}
body{
    font-family: "Baskerville Old Face";
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}
a{
    text-decoration: none;
}
h1{
    margin: .5em;
}
h2{
    margin: .5em;
    color:#d2181f;
    text-align: center;
}
h3{
    margin: .5em;
    color: #555757;
}
h4{
    margin: .5em;
}
p{
    color: #555757;
}
/* --- Layout --- */
.mainContainer{
    display: flex;
    flex-flow: column wrap;
    background-color: #ECEEEC;
    /* border: 2px outset #E4DBC0; */
    
}
/* --- Header --- */
header{
    background-color: #E4DBC0;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    padding-top: .5em;
}

.Logo-div{
    display:flex;
    align-self:center;
}
.Logo-img{
    height:50px;
}
.Logo-h3{
    margin-left: -5px;
    margin-top: 30px;
    color: #d2181f;
}
.header-call-today-div{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}
.header-call-today-h2{
    display: flex;
    color: #d2181f;
    margin-right: 25px;
}


.PhoneNumber{
    color: #ECEEEC;
    background:#005D9C;
    padding: 8px 24px;
    border-radius: 6px;
    font-weight: bold;
    /* border:1px solid #ECEEEC; */
}
.PhoneNumber:hover{
    border:2px solid #ECEEEC;

}
.sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  /*  ---old --- */



.TopNav-div{
    align-self: center;
}
.TopNav-ul{
    display: inline;
    list-style-type: none;
    color: #005D9C;
    font-size: 1.5em;
    
}
.TopNav-ul li{
    display: inline;    
    padding-left: 10px;

}

.TopNav-ul a{ 
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #005D9C;
}

.TopNav-ul a:hover {
    color: #ECEEEC;
}
.TopNav-ul .active{
    color:black;
}
/* --- Layout --- */
.LayoutSection{
    max-width:1200px;
    margin: 150px 10% 0 10%;

}
/* --- Home page --- */
.Home-Container{
    display:flex;
    flex-flow: column wrap ;
    justify-content: space-between;
}
.Home-topContainer{
    display: flex;
    flex-flow: row wrap ;
    justify-content: center;
    align-items: center;
}

.Home-top-right{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
    flex: 1;
}

.HomeInfo-div{

}
.Home-bottomContainer{
    display: flex;
    justify-content: space-around;
}
.Welcome-div{
    

}

.Welcome-contact{
    padding: 30px;
    text-align: center;
}

/* --- Galery --- */

.Gallery-div{
    display: flex;
   flex-flow: column;
   justify-content: center;
}
.ImageLoop-div{
    display: flex;
}
.ImageLoop-img{
  /* width: 400px; */
   
}

/* --- Directions page --- */
.Directions-div{
    /* display: flex; */
}
.Map-div{
    border: 1px ridge #555757;
}
.Directions-Info-div{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
}
.Directions-Info-Logo{
    align-self: center;
}
.Directions-Info-h2{

}



/* --- Footer --- */
footer{
    background-color: #E4DBC0;
    border-top: 3px outset #E4DBC0;
    text-align: center;
}
.footer-slogan{
    display: flex;
    color: #d2181f;
    justify-content: center;
    padding: 0 20px;
}
.footer-slogan h4{
    border-top: solid 1px#d2181f;
}
.footer-bottom{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.SocialIcons-div{
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}
.SocialIcons-div a{
    padding-left: 15px
}
.Address-h2{
    color: #d2181f;
    align-self: center;
    padding: 0 20px;
} 
.text-red{
    color:#d2181f;
}
.text-blue{
    color: #005D9C;
}
.text-white{
    color: #ECEEEC;
}
.text-slate{
    color: #555757;
}
.text-cream{
    color: #E4DBC0;
}


/*  
        for screens wider then 500px
*/

@media (min-width: 500px) {

.LayoutSection{
    margin: 100px 10% 0 10%;

}

/* end min-width 500 */
}
/* do not delete */